#toolbar{
    display:flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    background: rgb(72, 72, 72);
    height: 40 px;
}
.toolbarElem{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.toolbarElem:hover{
    color:rgb(255, 225, 230);
    cursor: alias;
    text-transform: uppercase;
}

#foto{
    display: block;
    margin-left: 50px;
    width: 200;
}

#imagen{
    position: fixed;
    margin-left: 300;
    top: 200;
    width: 600;
}

body{
    background-image: url(https://images.vexels.com/content/76625/preview/white-seamless-background-db36bd.png);
}
.p1{
    background-color: rgba(255,255,255,0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: rgb(37, 37, 37);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    color: rgb(37, 37, 37);
    display: block;
    margin-left: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 425px;
}

table{
    border: 1px solid;
    position: fixed;
    top: 450px;
    left: 300;
    width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-small;
    text-align: left;
    color: rgb(37, 37, 37);
}

form{
    position: fixed;
    width: fit-content;
    left: 950;
    top: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-small;
    color: rgb(37, 37, 37);
}

#content{
    position: relative;
    top: 70px;
}
